<%= render 'application/left_navigation' %>

<div class="page-content">
    <header class="page-content-header clearfix">
      <%= render 'application/breadcrumbs' %>

      <div class="cards-counter clearfix">
        <strong><%= @ads_search.total %> </strong> <%= ads_plural @ads_search.total %>
      </div>
    </header>

    <section class="cards-board clearfix">
          <%= render @ads %>
    </section>

    <footer class="page-content-footer clearfix">
        <%= paginate @ads  %>
    </footer>
</div>
