<%= render 'application/left_navigation' %>

<div class="page-content">
    <header class="page-content-header clearfix">
      <div class="cards-counter clearfix">
        <strong><%= @total_ads_count %> </strong> <%= ads_plural @total_ads_count %>
      </div>
    </header>

    <section class="cards-board clearfix">
          <%= render @ads %>
    </section>

    <footer class="page-content-footer clearfix">
        <%= paginate @ads  %>
    </footer>
</div>
