<div class="page-content-wrapper inner-page clearfix">
  <div class="page-content-container">
    <div class="login-form-container clearfix">
      <h2 class="form-heading">Registracija</h2>
        <div class="login-col-container">
          <div class="login-col-content">
            <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
              <%= f.error_notification %>
              <%= display_base_errors resource %>
              <%= f.input :first_name, :label => "Ime", :autofocus => true %>
              <%= f.input :last_name, :label => "Prezime" %>
              <%= f.input :email, :label => "E-mail", :required => true %>
              <%= f.input :password, :label => "Lozinka", :required => true %>
              <%= f.input :password_confirmation, :label => "Ponovi lozinku", :required => true %>
              <%= f.input :phone, :label => "Telefon", :required => "false" %>
              <%= f.button :submit, 'Registriraj se', :class => 'btn-primary' %>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
