<div class="page-content-wrapper inner-page clearfix">
  <div class="page-content-container">
    <div class="login-form-container clearfix">
    <h2 class="form-heading">Da bi ostavio oglas, moraš se prijaviti!</h2>
    <div class="login-col-container">
      <div class="login-col-content">
        <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>

          <%= f.input :email, :label => "E-mail", :autofocus => true, :required => true %>
          <%= f.input :password, :label => "Lozinka", :required => true %>
          <%= f.input :remember_me, :label => "Zapamti me", :as => :boolean if devise_mapping.rememberable? %>
          <span class="forgot-password form-label"><%= link_to "Zaboravio si lozinku?", new_user_password_path %></span>
          <%= f.button :submit, "Prijavi se", :class => 'btn-primary' %>
        <% end %>
        <div class="col-divider">ili</div>
      </div>
    </div>
    <div class="login-col-container">
      <div class="login-col-content">
        <ul class="social-list clearfix">
          <li class="social-item button facebook">Facebook</li>
          <li class="social-item button google">Sign in</li>
          <li class="social-item button twitter">Twitter</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="login-footer">
    <span>
      <%= link_to "Nemam račun, želim se registrirati.", new_user_registration_path %>
    </span>
  </div>
</div>
