<aside class="sidebar-wrapper">
  <div class="page-sidebar">
    <h3>Arhiva</h3>
    <ul class="sidebar-blog-arhiva">
      <% @all_posts.each do |post| %>
      <li>
        <%= link_to post.title, blog_path(post) %>
      </li>
      <% end -%>
  </ul>
  </div>
</aside>

<div class="page-content blog">
  <header class="page-content-header clearfix">&nbsp;</header>
  <% @main_posts.each do |post| %>
  <section class="page-content-container clearfix">
    <article class="card-details formatted-user-input">
      <header>
        <h1><%= post.title %></h1>
        <span>Objavljeno <%= post.created_at.strftime("%d.%m.%Y") %></span>
      </header>
      <% if post.image.url %>
      <figure class="icon window-2"><%= image_tag post.image.url(:small) %></figure>
      <% end -%>
      <% unless post.content.blank? %>
      <p class="card-text"><%= HTML_Truncator.truncate(post.content, 20).html_safe %></p>
      <% end -%>
      <%= link_to "Više", blog_path(post), class: "link-vise" %>
    </article>
  </section>
  <% end %>
</div>
