<aside class="page-sidebar">
  <nav class="cards-board-filter">
    <ul id="cards-board-filter-nav">
        <% if current_user %>
        <li class="expanded">
          <a href="#">Moj kutak</a>
          <ul>
            <li><a href="#">Moji oglasi (<%= current_user.ads.count %>)</a></li>
            <li><a href="#">Moji favoriti (123)</a></li>
          </ul>
        </li>
        <% end -%>
        <li class="expanded">
            <a href="#">Vrsta oglasa</a>
            <ul>
                <li class="current"><%= link_to "Svi oglasi (#{(@demands + @supplies)})", ads_path(:type => :all) %></li>
                <li class="giving"><%= link_to "Ponuda (#@supplies)", ads_path(:type => :supply) %></li>
                <li class="receiving"><%= link_to "Potražnja (#@demands)", ads_path(:type => :demand)%></li>
            </ul>
        </li>
        <li class="expanded">
            <a href="#">Kategorije</a>
            <ul>
              <li><%= link_to "Sve kategorije (#{ads_count})", ads_path(:category_id => 0) %></li>
                <% @categories.each do |category| %>
                  <li><%= link_to "#{category.name} (#{ads_in_category_count(category)})", ads_path(:category_id => category.id) %></li>
                <% end -%>
            </ul>
        </li>
        <li class="expanded">
            <a href="#">Županije</a>
            <ul>
                <li><%= link_to "Sve županije(#{ads_count})", ads_path(:region_id => 0) %></li>
                <% @regions.each do |region| %>
                  <li><%= link_to "#{region.name} (#{ads_in_region_count(region)})", ads_path(:region_id => region.id) %></li>
                <% end -%>
            </ul>
        </li>
    </ul>
  </nav>
</aside>
