<aside class="page-sidebar">
  <nav class="cards-board-filter">
    <ul id="cards-board-filter-nav">
        <% if current_user %>
        <li class="expanded">
          <a href="#">Moj kutak</a>
          <ul>
            <li><a href="#">Moji oglasi (<%= current_user.ads.count %>)</a></li>
            <li><a href="#">Moji favoriti (123)</a></li>
          </ul>
        </li>
        <% end -%>
        <li class="expanded">
            <a href="#">Vrsta oglasa</a>
            <ul>
                <li class="current"><a href="#">Svi oglasi (<%= @demands + @supplies %>)</a></li>
                <li class="giving"><a href="#">Ponuda (<%= @supplies %>)</a></li>
                <li class="receiving"><a href="#">Potražnja (<%= @demands %>)</a></li>
            </ul>
        </li>
        <li class="expanded">
            <a href="#">Kategorije</a>
            <ul>
                <% @categories.each do |category| %>
                  <li><%= link_to "#{category.name} (#{ads_in_category(category)})", ads_path(:category_id => category.id) %></li>
                <% end -%>
            </ul>
        </li>
        <li class="expanded">
            <a href="#">Županije</a>
            <ul>
                <% @regions.each do |region| %>
                  <li><a href="#"><%= region.name %> (<%= ads_in_region(region) %>)</a></li>
                <% end -%>
            </ul>
        </li>
    </ul>
  </nav>
</aside>
