<header class="page-header">
  <div class="page-header-inner-wrapper clearfix">
    <%= link_to "Cipele46", root_path, { class: 'logo', title: 'Cipele46' } %>
    <nav>
      <ul>
          <li class="current"><%= link_to "oglasi", root_path %></li>
          <li><a href="#blog">blog</a></li>
          <li><%= link_to "o nama", page_path('o-nama') %></li>
      </ul>
    </nav>
    <div id="search">
        <form>
            <input id="q" name="q" type="text" title="search" placeholder="pretraži"/><button id="search-button" type="submit" title="Search"></button>
        </form>
    </div>
    <ul class="nav-user">
        <li class="nav-user-new-add">
          <% unless current_user %><%= link_to "Objavi oglas", new_user_session_path %><% end -%>
          <% if current_user %><%= link_to "Objavi oglas", new_ad_path %><% end -%>
        </li>
        <% unless current_user %>
        <li class="nav-user-not-logged">
          <%= link_to "Prijavi se", new_user_session_path %>
        </li>
        <% end -%>
        <% if current_user %>
        <li class="nav-user-settings">
            <%= link_to current_user.name, edit_user_registration_path %>
            <div>
              <ul>
                <li><%= link_to "Postavke", edit_user_registration_path %></li>
                <li><a href="#">Moji oglasi</a></li>
                <li><%= link_to "Odjavi se", destroy_user_session_path, { method: 'DELETE' } %></li>
              </ul>
            <div>
        </li>
        <% end -%>
    </ul>
  </div>
</header>
