<header class="page-header">
  <div class="page-header-inner-wrapper clearfix">
    <%= link_to "Cipele46", root_path, { class: Rails.env == 'staging' ? 'logo logo-staging' : 'logo', title: 'Cipele46' } %>
    <nav>
      <%= main_menu %>
    </nav>
    <div id="search">
        <form action="/ads">
            <input id="q" name="q" type="text" value="<%= params[:q] %>" title="search" placeholder="pretraži"/><button id="search-button" type="submit" title="Search"></button>
        </form>
    </div>
    <ul class="nav-user">
        <li class="nav-user-new-add">
          <%= link_to "Objavi oglas", page_path('u-izradi') %>
          <% unless current_user %><%= link_to "Objavi oglas", new_user_session_path, :class => 'hidden' %><% end -%>
          <% if current_user %><%= link_to "Objavi oglas", new_ad_path, :class => 'hidden' %><% end -%>
        </li>
        <% unless current_user %>
        <li class="nav-user-not-logged hidden">
          <%= link_to "Prijavi se", new_user_session_path %>
        </li>
        <% end -%>
        <% if current_user %>
        <li class="nav-user-settings">
            <%= link_to current_user.name, edit_user_registration_path %>
            <div>
              <ul>
                <li><%= link_to "Postavke", edit_user_registration_path %></li>
                <li><a href="#">Moji oglasi</a></li>
                <li><%= link_to "Odjavi se", destroy_user_session_path, { method: 'DELETE' } %></li>
              </ul>
            <div>
        </li>
        <% end -%>
    </ul>
  </div>
</header>
