<header class="page-header">
  <div class="page-header-inner-wrapper clearfix">
    <%= link_to "Cipele46", root_path, { class: Rails.env == 'staging' ? 'logo logo-staging' : 'logo', title: 'Cipele46' } %>
    <nav>
      <%= main_menu %>
    </nav>
    <div id="search">
      <%= form_tag(ads_path, method: :get, id: :filter_form) do %>
        <%= hidden_field_tag :category_id, @ad_filter.category_id %>
        <%= hidden_field_tag :region_id, @ad_filter.region_id %>
        <%= hidden_field_tag :ad_type, @ad_filter.ad_type %>
        <%= text_field_tag :query, @ad_filter.query, title: :search, placeholder: 'pretraži' %>
        <%= button_tag '', id: 'search-button', title: 'Search', name: nil %>
      <% end %>
    </div>
    <ul class="nav-user">
        <li class="nav-user-new-add">
          <%= link_to "Objavi oglas", page_path('u-izradi') %>
          <% unless current_user %><%= link_to "Objavi oglas", new_user_session_path, :class => 'hidden' %><% end -%>
          <% if current_user %><%= link_to "Objavi oglas", new_ad_path, :class => 'hidden' %><% end -%>
        </li>
        <% unless current_user %>
        <li class="nav-user-not-logged hidden">
          <%= link_to "Prijavi se", new_user_session_path %>
        </li>
        <% end -%>
        <% if current_user %>
        <li class="nav-user-settings">
            <%= link_to current_user.name, edit_user_registration_path %>
            <div>
              <ul>
                <li><%= link_to "Postavke", edit_user_registration_path %></li>
                <li><a href="#">Moji oglasi</a></li>
                <li><%= link_to "Odjavi se", destroy_user_session_path, { method: 'DELETE' } %></li>
              </ul>
            <div>
        </li>
        <% end -%>
    </ul>
  </div>
</header>
